In [12]:
import pandas as pd

In [2]:
df = pd.read_csv('data/berlin-accommodation.csv')

In [3]:
df.shape

(2887, 12)

In [4]:
df.head()

,address,category,id,lat,lng,location,name,originalId,polarity,subCategory,details,reviews
0,Eichendorffstr. 4,accommodation,91904,52.530068167132,13.388135746622,Berlin,Hotel Zarenhof Berlin-Mitte,4a1c85d4f964a520467b1fe3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
1,An der Urania 16-18,accommodation,91921,52.501832343626,13.347193587317,Berlin,Best Western Hotel President Berlin,4adcda6ef964a520cb4421e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
2,Halenseestrasse 51,accommodation,91934,52.501500248909,13.277047276497,Berlin,Motel Avus,4adcda6ff964a520db4421e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
3,Fasanenstr. 2,accommodation,91940,52.507759698801,13.328216718728,Berlin,Hotel Astoria,4adcda70f964a520014521e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
4,Wittelsbacherstr. 22,accommodation,91942,52.495192803401,13.310279846191,Berlin,Hotel Wittelsbach,4adcda70f964a520034521e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...

In [8]:
df = pd.read_csv('data/berlin-restaurant.csv')

In [10]:
df.shape

(16486, 12)

In [9]:
df.head()

,address,category,id,lat,lng,location,name,originalId,polarity,subCategory,details,reviews
0,Rigaer Stra√üe 25,restaurant,91911,52.517113887391,13.46175956167,Berlin,Casablanca,4a944034f964a520ec2020e3,0,Falafel Restaurant,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
1,Fasanenstr. 9-10,restaurant,91920,52.506011569827,13.32805032307,Berlin,Hotel Savoy Berlin,4adcda6ef964a520ca4421e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
2,Gubener Str. 42,restaurant,91947,52.511193329824,13.449347019196,Berlin,Upstalsboom Hotel,4adcda70f964a520094521e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
3,Bleibtreustr. 31,restaurant,91956,52.500142117474,13.319578369231,Berlin,Hotel Bleibtreu,4adcda70f964a520f34421e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...
4,Augsburger Str. 41,restaurant,92003,52.502707245292,13.331705331802,Berlin,Hotel Concorde Berlin,4adcda72f964a520484521e3,0,Hotel,http://tour-pedia.org/api/getPlaceDetails?id=9...,http://tour-pedia.org/api/getReviewsByPlaceId?...

In [11]:
df.subCategory.unique()

array(['Falafel Restaurant', 'Hotel', 'Brewery', 'Breakfast Spot', 'Pub',
       'French Restaurant', nan, 'German Restaurant', 'Tea Room', 'Caf√©',
       'Dive Bar', 'Italian Restaurant', 'Coffee Shop', 'Scenic Lookout',
       'Art Museum', 'Restaurant', 'Asian Restaurant',
       'Chinese Restaurant', 'Electronics Store', 'Sushi Restaurant',
       'Coworking Space', 'Vegetarian / Vegan Restaurant', 'Burger Joint',
       'Korean Restaurant', 'Swiss Restaurant', 'Vietnamese Restaurant',
       'Bakery', 'Turkish Restaurant', 'College Cafeteria', 'Bar',
       'Indian Restaurant', 'Deli / Bodega', 'Fast Food Restaurant',
       'Home (private)', 'Japanese Restaurant',
       'Middle Eastern Restaurant', 'Boarding House', 'Sandwich Place',
       'Snack Place', 'Pizza Place', 'Ice Cream Shop',
       'Mexican Restaurant', 'Seafood Restaurant', 'Laundry Service',
       'Fried Chicken Joint', 'Mediterranean Restaurant', 'Cafeteria',
       'Steakhouse', 'Diner', 'Sports Bar', 'Thai Restaurant',
       'Latin American Restaurant', 'Ramen /  Noodle House', 'Soup Place',
       'BBQ Joint', 'Grocery Store', 'Greek Restaurant', 'Food Court',
       'Furniture / Home Store', 'Bank', 'Tapas Restaurant',
       'Eastern European Restaurant', 'Nightclub', 'Donut Shop',
       'Bagel Shop', 'African Restaurant', 'Dessert Shop',
       'Cuban Restaurant', 'Hot Dog Joint', 'Hostel', 'Burrito Place',
       'Concert Hall', 'Cocktail Bar', 'Argentinian Restaurant',
       'Beer Garden', 'Museum', 'American Restaurant', 'Food Truck',
       'Gastropub', 'Playground', 'Cupcake Shop', 'Car Dealership',
       'Wine Bar', 'Winery', 'Indonesian Restaurant',
       'Gluten-free Restaurant', 'Scandinavian Restaurant', 'Lounge',
       'Arepa Restaurant', 'Food', 'Dance Studio', 'Beach',
       'Mobile Phone Shop', 'Gourmet Shop', 'Juice Bar',
       'Ethiopian Restaurant', 'Molecular Gastronomy Restaurant',
       'South American Restaurant', 'Building', 'Art Gallery', 'Resort',
       'Australian Restaurant', 'Office', 'Factory', 'Distillery',
       'General Entertainment', 'Other Nightlife', 'Event Space',
       'Fish Market', 'Salad Place', 'Bookstore', 'Wings Joint',
       'Fish & Chips Shop', 'Spanish Restaurant', 'Miscellaneous Shop',
       'Frozen Yogurt', 'Afghan Restaurant', 'Dumpling Restaurant',
       'Convenience Store', 'Candy Store', 'New American Restaurant',
       'Brazilian Restaurant'], dtype=object)

In [14]:
df = pd.read_csv('data/berlin-poi.csv', sep='delimiter', header=None)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [15]:
df.head()

                                                   0
0  id,name,address,category,location,lat,lng,deta...
1  91903,"Apotheke Berlin Hauptbahnhof","Europapl...
2  "Pariser Platz",poi,92204,52.516273095032,13.3...
3  Friedrichstra√üe,poi,92206,52.514967298868,13.3...
4  "Unter den LInden 7",poi,92217,52.51717407176,...

In [16]:
df.shape

(28889, 1)

In [26]:
df = pd.read_csv('data/tourpedia/berlin-attraction.csv', sep='\t', header=0)

SyntaxError: keyword argument repeated (<ipython-input-26-e9cca5c65958>, line 1)

In [25]:
df.head()

  id,name,address,category,location,lat,lng,details,reviews
0  91906,Siegess√§ule,"Stra√üe des 17. Juni",attrac...
1  Lychener Str. 23,attraction,91909,52.542503599...
2  Wrangelstra√üe 93,attraction,91910,52.499662,13...
3  K√∂penicker Stra√üe 137,attraction,91912,52.5080...
4  Friedrichstr. 151,attraction,91917,52.51833617...

In [7]:
df.shape

(9664, 1)